name: Release Build

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Repo Tag to Build'
        required: true

env:
  UPSTREAM_REPO: "mendableai/firecrawl"
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    strategy:
      matrix:
        component: ["api", "playwright-service", "playwright-service-ts"]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ env.UPSTREAM_REPO }}
          ref: ${{ github.event.inputs.tag }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push latest image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/${{ matrix.component }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ github.actor }}/firecrawl-${{ matrix.component }}:${{ github.event.inputs.tag }}

